.collapsible {
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__heading {
    margin-top: 0;
    font-size: 3rem;
  }
  &__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  &--expanded &__chevron {
    transform: rotate(0);
  }
  &--expanded &__content {
    max-height: 100vh;
    opacity: 1;
  }
}
