.block-domain {
  .input-group {
    box-shadow: 0 0 30px 20px #e6ebee;
    border: 0;
    margin: 4rem auto;
    max-width: 680px;
  }
  &__prices {
    color: $color-heading;
    display: grid;
    font-size: 2rem;
    font-weight: 600;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 6rem);
    justify-items: center;
    margin: 0 auto;
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) {
  .block-domain {
    &__prices {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
  }
}
