.list {
  list-style: none;
  padding-left: 0;
  &--inline &__item {
    display: inline-block;
    margin-right: 2rem;
  }
  &--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
    color: $color-heading;
    & .list__item {
      padding-left: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
