.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
  &__list {
    width: 100%;
    margin: 0;
  }
  &__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
  }
  &__item > a {
    color: #d2d0db;
    transition: color 0.3s;
    &:hover {
      color: $color-white;
    }
  }
  &__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
  }
  &.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
  }
  &__brand {
    transform: translateY(5px);
  }
}

@media screen and (min-width: 768px) {
  .nav {
    &__toggler {
      display: none;
    }
    &__list {
      width: auto;
      display: flex;
      font-size: 1.6rem;
      max-height: 100%;
      opacity: 1;
    }
    &__item {
      border: 0;
    }
  }
}
