.testimonial {
  padding: 3.5rem;
  &__image {
    position: relative;
  }
  &__image > img {
    width: 100%;
  }
  &__image > .icon-container {
    position: absolute;
    top: 3rem;
    right: -32px;
  }
}
@media screen and (min-width: 768px) {
  .testimonial {
    .quote,
    .quote__author {
      font-size: 2.4rem;
    }
    .quote {
      margin-left: 6rem;
    }
  }
}
